name: Java Tests (Maven)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  java-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run tests
        run: mvn test

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: java-test-results
          path: target/surefire-reports/
